<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokedexApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDFA1E1C26E8D65A00FEA89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDFA1E3026E8D65E00FEA89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDFA1E3B26E8D65E00FEA89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
